HTML5 + CSS3/Inline Buttons/index.html
<!DOCTYPE html>
<html >

  <head>
    <meta charset="UTF-8">
    <title>Inline button elements</title>
    <script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>

    <div class='inner-page'>

      <h1>Inline Buttons</h1>
      <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        <a class='letterpress' href='#'>letterpress link</a>
        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
        <a class='block' href='#'>block link</a>
        Donec eu libero sit amet quam egestas semper.
        <a class='pill' href='#'>pill link</a>
        Aenean ultricies mi vitae est. Mauris placerat.
        <a class='underline' href='#'>underline link</a>
        Pellentesque habitant morbi
        <a class='underline dotted' href='#'>dotted link</a>
        senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend
        <h1>Stand alone buttons</h1>
        <div class='btn'>Click Me</div>
      </p>

    </div>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  </body>
</html>

HTML5 + CSS3/Inline Buttons/index.haml
.inner-page
  %h1 Inline Buttons
  %p
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    %a{href:"#",class:"letterpress"} letterpress link
    Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
    %a{href:"#",class:"block"} block link
    Donec eu libero sit amet quam egestas semper.
    %a{href:"#",class:"pill"} pill link
    Aenean ultricies mi vitae est. Mauris placerat.
    %a{href:"#",class:"underline"} underline link
    Pellentesque habitant morbi
    %a{href:"#",class:"underline dotted"} dotted link
    senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend
    %h1 Stand alone buttons
    .btn Click Me
